*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* process section css start */


#app-process{
    background: #f8f9fa;
}

.app-process-sec-title{
    color: #265367;
}

.process-card-glassy{
    background: rgba(255,255,255,0.6); backdrop-filter: blur(8px);

    /* === */
    position: relative;
}

.process-card-no{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    z-index: 1;
    opacity: 0.3;
}

.process-card-glassy h5{
    color: #8f653b;
}

.process-card-name{
    position: relative;
    z-index: 5;
}

.process-card-glassy .card-text{
    position: relative;
    z-index: 5;
}

/* process section css end */